{% load render_bundle from utils %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{cookiecutter.vuejs_project_name}}</title>
    <meta name="url" content="{{ base_url }}">
    <meta name="branches" content="{{ branches }}">
    <meta name="version" content="{{ VERSION.json|default_if_none:"{}" }}">
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}" sizes="32x32"/>
</head>

<body>
<div id="app">
    <router-view></router-view>
</div>

{% render_bundle 'index' %}
</body>
</html>
